.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
}

.description {
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 50rem;
  text-align: center;
  margin-bottom: 3rem;
}

.description:hover:after {
  content: "✅";
  font-size: 1.5rem;
}

.title:hover:after {
  content: "🏠";
  font-size: 3rem;
}

.first-paragraph {
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 50rem;
  text-align: center;
  margin-bottom: 3rem;
}

.first-paragraph:hover:after {
  content: "🤝";
  font-size: 1.5rem;
}

.second-paragraph {
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 50rem;
  text-align: center;
  margin-bottom: 3rem;
}

.second-paragraph:hover:after {
  content: "🔍";
  font-size: 1.5rem;
}

.third-paragraph {
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 50rem;
  text-align: center;
  margin-bottom: 3rem;
}

.third-paragraph:hover:after {
  content: "🚪";
  font-size: 1.5rem;
}

.fourth-paragraph {
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 50rem;
  text-align: center;
  margin-bottom: 3rem;
}

.fourth-paragraph:hover:after {
  content: "\1F6AA";
  font-size: 1.5rem;
}

.footer {
  font-family: Arial, sans-serif;
  font-size: 0.75rem;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.footer:hover:after {
  content: "❤️";
  font-size: 0.75rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
